// Tables
$table-border-color: #ccc !default;
$table-head-bg: #dfeeff !default;
$table-td-bg: transparent !default;
$table-odd-bg: $table-td-bg !default;
$table-even-bg: #eee !default;

.tbl,
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid $table-border-color;

  thead {
    background-color: $table-head-bg;
  }

  th,
  td {
    border-left: 1px solid $table-border-color;
    font-style: inherit;
    padding: 10px;
    font-size: 12px;

    &:first-child {
      //border-left-width: 0;
    }
  }

  th {
    font-size: 12px;
  }

  td {
    //background-color: transparent;
  }

}

// Table striped
//===
.tbl--striped,
.table-striped {
  tr {
    &:nth-child(odd) td {
      background-color: $table-odd-bg;
    }
    &:nth-child(even) td {
      background-color: $table-even-bg;
    }
  }
}

// Table bordered
//===
.tbl--bordered,
.table-bordered {
  th,
  td {
    border-bottom: 1px solid $table-border-color;
  }
  tbody > tr:last-child > td {
    border-bottom-width: 0;
  }
}

// Table horizontal bordered
//===
.tbl--horizontal-bordered,
.table-horizontal-bordered {
  th,
  td {
    border-left-color: transparent;
    border-bottom: 1px solid $table-border-color;
  }
  tbody > tr:last-child > th {
    border-bottom-width: 0;
  }
}

// Table responsive
//===
.tbl-responsive {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// Table custom styles
.tbl .tbl__title td,
.table .table__title td {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  padding: 20px 0;
}

.tbl ul li,
.table {
  font-size: 12px !important;
}

.tbl img,
.table img {
  width: auto !important;
  height: auto !important;
}

.tbl-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
}
.tbl-more__btn {
  background: #fff;
  border-radius: 4px;
  font-family: 'MuseoSansCyrl';
  border: $main-border;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}
